body  {
	font-family: Arial;
	font-size: 24px;
	color: #0c06fe;
	width:1349px;
	margin:0px;
}

#logo{
	padding-top:15px;
	padding-left:10px;
	opacity:0.9;
}

#main{
	width:300px;
	height:700px;
	float:left;
	position:fixed;
	background-color:#FFFFFF;
}
	
a {
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
    color: #0c06fe;
}


nav > ul { list-style-type:none; padding:50;margin:50;}

#projects{
	/*position: absolute;
	left: 400px;
	top: 10px;*/
	margin-left:322px;
	margin-top:18px;
	font-size:18px;
	font-weight:bold;
	color:#2e2d2d;
	float:left;
}

#about{
	position: fixed;
	left: 200px;
	top: 60px;
	margin-left:322px;
	margin-top:30px;
	font-size:14px;
	font-weight:bold;
	color:#0c06fe;
	float:left;
	opacity:1.0;
}

#photo{
	position:relative;
	left: 630px;
	top: 122px;
	opacity:0.8;
	width: 717px;
}

#about2{
	position:relative;
	left: 439px;
	top: 90px;
	margin-left:15px;
	margin-top:30px;
	left: 526px;
	top: 124px;
	margin-bottom:30px;
	font-size:14px;
	font-weight:bold;
	color:#0c06fe;
	float:left;
}

#logo2{
	position:absolute;
	margin-top:10px;
	opacity:0.3;
}

#contact{
	position:fixed;
	left: 200px;
	top: 60px;
	margin-left:356px;
	margin-top:200px;
	font-size:16px;
	font-weight:bold;
	color:#0c06fe;
	float:left;
	line-height:133%;
	
}

#construction{
	font-size:12px;
	color:#0c06fe;
}

#telephone{
	position:fixed;
	left: 200px;
	top: 97px;
	margin-left:390px;
	margin-top:180px;
	font-size:16px;
	font-weight:bold;
	color:#2e2d2d;
	float:left;
	text-indent:29px;
}

#licence{
	font-size: 9px;
	margin-left:41px;
	margin-top:182px;
	color:#2e2d2d;
	
}

figcaption{
	height:0px;
	font-weight:bold;
	color:#2e2d2d;
	font-size:12px;
	margin-top:5px;
}

#swiffycontainer{
	float:right;
}

#socialmedia{
	position:fixed;
	left: 284px;
	top: 112px;
	margin-left:360px;
	margin-top:200px;
	float:left;
}

.img-container{
	overflow: auto;
	width:1000px;
	margin-bottom:40px;
}

.figure-class{
	float:left;
	margin-right:0px;
	font-family: Arial;
	text-align: center;
}

.no-display{
	display: none;
}

.project-image{
	max-height: 100%;
	/*width: auto;*/
}


.pace {
  pointer-events: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #0c06fe;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pswp__caption__center {
  text-align: left;
  max-width: 948px;
  margin: auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #616161;
  padding-bottom:20px
  }
  
  .pswp__counter {
  position: absolute;
  left: 0
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #0c06fe;
  opacity: 1;
  padding: 0 10px; }

  
.pswp__bg{
	background: rgba(250,250,250,0.87);
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(250, 250, 250, 0); }
  
.pace-running .demo-content {
  opacity: 0.5;
}
.pace-running figure {
  pointer-events: none;
}

#flash{
	margin-left:20px;
	width:280px;
	height:200px;
}


.overlay {
	position:relative;
	height:200px;
	width:200px;
	overflow:hidden;
}


span.text-content {
  background: rgba(68,68,68,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  width: 200px;
  position:absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  z-index:10;
  
}

span.text-content span {
  display: table-cell;
  vertical-align: middle;
  font-size:14px;
  font-weight:bold;
  
}

.figure-class:hover span.text-content {
  opacity: 1;
}

/* First make sure the video thumbnail images are responsive. 
img {
      max-width: 100%;
      height: auto;
}*/

  /* 
  This is the starting grid for each video with thumbnails 5 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */
.video {
    background: #fff;
    /*padding-bottom: 20px;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);8*/
    /*width: 18%;*/ /* Thumbnails 5 across */
    /*margin: 1%;*/
    float: left;
}


   /* These keep the height of each video consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. */
/*.video figure {
    height: 0;
    padding-bottom: 60%;
}*/
 

/* Media Queries - This is the responsive grid. */
/*
@media (max-width: 1366px) {
   .video {
      width: 24%; 
   }
}

@media (max-width: 1024px) {
    .video {
      width: 31.333%; 
    }
}
  
@media (max-width: 600px) {
    .video {
      width: 48%; 
    }
}

@media (max-width: 360px) {
    .video {
      display: block;
      width: 96%; 
      margin: 2%; 
      float: none;
    }
}
*/
